body{
    margin: 0;
    background: darkgray;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif
}
html{
    height: 100%;
}

.middleSection{
    display: flex;
    flex-direction: column;
    padding: 0 10px;

    input{
        margin-bottom: 0;
        max-width: 80px;
    }

}

.brainInfo{
    position: absolute;
    top: 0;
    text-align: center;

    p{
        margin: 0.3em 0;

    }
}

.middleSubsection{
    margin-top: 0.7em;
}

.value{
    font-size: 17px;
}
#verticalButtons{
    margin-top: auto;
    height: 100%;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

button{
    border: none;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    margin: 2px;
    cursor: pointer;
}

button:hover{
    background: blue;
}

#networkCanvas{
    background: black;
}

#carCanvas{
    background: lightgray;
}